# API Configuration

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_URL_PRODUCTS=
NEXT_PUBLIC_API_URL_CART=
NEXT_PUBLIC_API_URL_PAYMENT=
NEXT_PUBLIC_API_URL_USERS=

# CMS

NEXT_PUBLIC_API_URL_CMS=

# Order & Helpdesk

NEXT_PUBLIC_API_URL_ORDER=
NEXT_PUBLIC_API_URL_HELPDESK=

# Google / reCAPTCHA

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
NEXT_GEOLOCATION_API_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Stripe

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Environment

NEXT_PUBLIC_ENV_VARIABLE=

# SendGrid / Email

SENDGRID_API_KEY=
EMAIL_HOST_USER=
EMAIL_HOST=
