_# Node modules_
node_modules/
 
_# Next.js build output_
.next/
out/
dist/
 
_# Production files_
build/
 
_# Local env files_
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
 
_# Logs_
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
 
_# OS files_
.DS_Store
Thumbs.db
 
_# VS Code settings_
.vscode/
 
_# TypeScript incremental build cache_
*.tsbuildinfo
