/* About css */

.about-section {
    display: flex;
}

.about-page .sidebar {
    /* box-shadow: none;
    background: transparent; */
    padding-right: 40px;
}


.about-page .sidebar li a {
    font-size: 16px;
    /* color: var(--black); */
    font-weight: bold;
    width: 100%;
    padding: 8px 10px;
}

.about-page .about-section {
    width: 80%;
    display: flex;
    background: var(--white);
    border-radius: 8px;
    padding: 20px;
}

.about-page .about-section h4 {
    margin-bottom: 12px;
}

.about-content {
    flex: 1 1 65%;
}

.about-img {
    flex: 1 1 30%;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-content p {
    margin-bottom: 20px;
    line-height: 24px;
    padding-right: 28px
}

.about-page .sidebar li a.active {
    background: var(--secondary);
    color: var(--white);

}

/* About css */

@media screen and (max-width: 1199px) {
    .about-page .about-section {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .about-page .about-section {
        width: 100%;
    }

    .about-page .sidebar {
        width: 100%;
        position: static;
    }
}

@media screen and (max-width: 767px) {
    .about-content {
        flex: auto;
    }
}