 .filter-tab-2 {
   background: var(--white);
   border: 1px solid var(--lightgray);
   margin-bottom: 20px;
   border-radius: 8px;
   /* height: -webkit-fill-available; */
 }

 .filter-tab-2 h3 {
   font-size: 16px;
   font-weight: 600;
   padding: 11px 20px;
 }

 .filter-tab-2 button~div {
   padding: 10px 20px 20px;
   border-top: 1px solid var(--lightgray);
 }

 .filter-tab-2 .dflex {
   align-items: center;
 }

 .filter-tab-2 h3~div {
   padding: 10px 20px 20px;
   border-top: 1px solid var(--lightgray);
 }

 .product-tabs .tab-content {
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .filter-tab-2 h3 .chevron.open {
   transform: rotate(-180deg);
   margin-top: -2px;
 }

 .filter-tab-2 h3 .dflex {
   flex-wrap: nowrap;
 }

 .filter-tab-2 button .dflex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   width: 100%;
 }

 .filter-tab-2 h3 button {
   width: 100%;
 }

 .filter-tab-2 button .dflex span:last-child {
   margin-left: 10px;
 }

 .filter-tab button {
   width: 100%;
 }