@reference "tailwindcss";


.auth-title {
    @apply text-[30px] font-bold leading-[normal] text-center text-[var(--black)];
}

.input-rounded {
    @apply rounded-[5px];
}

.input-rounded-lg {
    @apply rounded-[30px];
}

.auth-form-title {
    @apply text-[30px] font-bold;
}
.remember-me {
  @apply text-black font-medium text-[16px] leading-[normal];
}
.checkbox-input {
  @apply appearance-none w-[18px] h-[18px] shrink-0 rounded-[4px] border-2 border-[#B7BAB4] bg-[rgba(183,186,180,0.00)] cursor-pointer;
}

.checkbox-input:checked {
  @apply bg-[var(--primary)] border-[var(--primary)];
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M3 8.5L6.5 12L13 4.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
}
.user-form-wrapper {
    @apply bg-[var(--white)] border-2 border-[rgba(255,255,255,0.9)] max-w-[714px] mx-auto mt-[38px] mb-[70px] px-[34px] py-6 w-full rounded-lg;
}

.link {
    @apply items-center;
}

.link a {
    @apply text-[var(--secondary)] underline font-semibold;
}
.link a:hover {
    @apply text-[var(--primary)];
}
.link p {
    @apply font-semibold leading-[normal];
}

.user-form-wrapper .btn-action button {
    @apply border border-[var(--black)] rounded-lg flex items-center p-[10px] gap-[10px] text-sm text-[var(--black)];
}

.password-content p {
    @apply font-medium mb-[5px] text-sm;
}

.user-form-wrapper .flex label {
    @apply mb-0;
}

.password-content ul {
    @apply pl-5 mb-5;
}

.password-content ul li {
    @apply list-disc text-[rgba(0,0,0,0.60)] font-['Montserrat'] text-sm font-medium not-italic leading-[normal];
}

.link span {
    @apply text-[16px] font-medium leading-[normal];
}

.link span a {
    @apply text-sm;
}


.error {
    @apply mb-4;
}


.eyeIcon {
    @apply absolute top-1/2 right-[10px] -translate-y-1/2 cursor-pointer;
}

.password-wrapper {
    @apply relative;
}

.verification {
    @apply justify-center items-center h-screen flex px-5;
}

.resend-email-section {
    @apply mt-20 p-4 border border-gray-300 rounded-lg bg-gray-50;
}

.resend-email-text {
    @apply text-sm text-gray-600 mb-3;
}

.auth-links-row {
    @apply flex my-6 justify-between font-semibold;
}


@media screen and (max-width: 767px) {
    .user-form-wrapper {
        @apply px-[10px] py-6;
    }
    .user-form-wrapper .link {
        @apply flex-col gap-[5px] mt-3;
    }
    .signup-account .btn-action {
        @apply gap-4;
    }
}
