/* Login,Forgot Password,Sign up css */

.user-form-wrapper {
    background: var(--white);
    border: 2px solid rgba(255, 255, 255, 0.9);
    max-width: 714px;
    margin: 38px auto 70px;
    padding: 24px 34px;
    width: 100%;
    border-radius: 8px;
}

.link {
    align-items: center;
}

.link a {
    color: var(--secondary);
    text-decoration: underline;
    font-weight: 600;
}
.link a:hover{
      color: var(--primary);
}
.link p {
    font-weight: 600;
}

.user-form-wrapper .btn-action button {
    border: 1px solid var(--black);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 14px;
    color: var(--black);
}

.password-content p {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

.user-form-wrapper .flex label {
    margin-bottom: 0;
}

.password-content ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.password-content ul li {
    list-style: disc;
    color: var(--gray);
    font-weight: 500;
    font-size: 14px;
}

.link span {
    font-size: 14px;
    font-weight: 500;
}

.link span a {
    font-size: 14px;
}


.error {
    margin-bottom: 1rem;
}


.eyeIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-wrapper {
    position: relative;
}

.verification {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    padding: 0 20px;
}

/* Login,Forgot Password,Sign up css */

@media screen and (max-width: 767px) {
    .user-form-wrapper {
    padding: 24px 10px;
}
.user-form-wrapper .link {
    flex-direction: column;
    gap: 5px;
    margin-top: 12px;
}
.signup-account .btn-action {
    gap: 16px;
}
}