  /* cart */
  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 30px;
    min-height: 40vh;
  }

  .cart.table-wrapper {
    width: 70%;
    padding-right: 20px;
  }

  .cart-table {
    background: var(--white);
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
  }

  .cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    vertical-align: top;
  }

  .item-info {
    display: flex;
    gap: 15px;
  }


  .cart-table td h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    max-width: 475px;
  }

  .cart-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
  }


  .cart-table .variant-attributes p {
    color: var(--black);
  }

  .item-info p {
    margin-bottom: 8px;
    color: var(--gray);
    font-weight: 500;
    font-size: 14px;
  }

  .item-info .product-size,
  .item-info .product-color {
    color: var(--black);
  }

  .qty-num {
    display: flex;
    width: 100px;
    position: relative;
  }

  .btn-minus {
    position: absolute;
    left: 9px;
    top: 1px;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }

  .btn-plus {
    position: absolute;
    right: 12px;
    top: 2px;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }

  .qty-num input[type="number"] {
    border-radius: 50px;
    text-align: center;
    width: 100px;
    padding: 0;
  }

  .qty-num input::-webkit-outer-spin-button,
  .qty-num input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .qty-num input[type=number] {
    -moz-appearance: textfield;
  }

  .first-check {
    background: var(--primary);
    max-width: 70px;
    border-radius: 50px;
    color: var(--white);
    font-weight: 600;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 12px;
    padding: 0 8px;
  }

  .cart-table td .old-price {
    font-size: 16px;
  }

  .cart-table td .product-price {
    margin: 0;
  }

  .product-off {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .product-off .sale-tag {
    height: 28px;
    font-size: 12px;
    width: 70px;
    padding: 4px 3px;
  }


  .order-summary {
    width: 30%;
    background: var(--white);
    padding: 30px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    height: 100%;
  }



  .promo {
    border-top: 1px solid var(--lightgray);
    padding-top: 16px;
    position: relative;
  }

  .promo button {
    position: absolute;
    right: 6px;
    top: 29px;
    background: transparent;
    font-weight: 500;
    color: var(--primary);
    font-size: 12px;
  }

  .savings {
    color: #16a249;
    font-weight: 500;
  }

  .summary-row p {
    font-weight: 500;
  }

  .total-row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .total-row strong {
    font-weight: 600;
    font-size: 18px;
  }

  .total-row .price {
    font-size: 18px;
  }

  .paymnet-method h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .order-summary .btn-filled.btn-red {
    width: 100%;
    margin-top: 20px;
  }

  
.btn-out-of-stock {
  width: 100%;
  background: transparent !important;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-weight: 600;
  cursor: not-allowed;
  padding: 14px 20px;
  text-align: center;
  opacity: 1 !important;
}

  /* cart */


  @media screen and (max-width: 1199px) {
    .order-summary {
      padding: 20px;
    }

    .total-row strong {
      font-size: 16px;
    }

    .total-row .price {
      font-size: 16px;
    }

    .payment-img {
      flex: auto;
      width: 28%;
    }
        .dflex.cart-section {
          flex-direction: column;
        }
      
        .cart.table-wrapper {
          width: 100%;
          padding-right: 0;
        }
      
        .order-summary {
          width: 100%;
          margin-top: 20px;
        }
          .item-info {
            flex-direction: column;
          }
        }
        
              
      /* New styles for inactive/out-of-stock items */
      .cart-table .inactive-item {
        opacity: 0.6;
        background-color: #f9f9f9;
      }
      
      .not-available, .out-of-stock {
        font-weight: 600;
        color:var(--secondary)!important; 
        margin-top: 5px;
      }
      
      .in-stock {
        font-weight: 600;
        color: green; 
        margin-top: 5px;
      }

.cart-table .inactive-item .remove {
  opacity: 1 !important;
  color: var(--secondary)!important;
  font-weight: 700!important;
}

  @media screen and (max-width: 767px) {
    .cart-table thead {
      display: none;
    }

    .cart-table td {
      display:flex;
      position: relative;
      /* padding-top: 48px; */
    }

    .cart-table td h3 {
      margin-top: 0;
    }

    td.item-info {
      display: flex;
      flex-direction: row;
    }

 
    .cart-table td:before {
      /* content: attr(data-label) ": ";
      font-weight: 600;
      position: absolute;
      top: 12px;
      color: var(--black);
      font-size: 18px; */
    }
    .cart-popup {
      min-width: 300px;
    }
  }
@media screen and (max-width: 480px) {

  td.item-info {
    flex-direction: column;
}
}
