@import "tailwindcss";

:root {
  --black: #000000;
  --white: #fff;
  --gray: #726969;
  --lightgray: #d9d2d2;
  /* --WhiteSmoke: #f5f5f5; */
  --primary: #01295f;
  --secondary: #fd151b;
  --orange: #ffb30f;
}

.redddd {
  color: #01295f;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}


.error {
  color: var(--secondary);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* autocomple wrapper */

.autocomplete-wrapper {
  border: 1px solid var(--lightgray);
  border-radius: 5px;
}

.autocomplete-wrapper .input-container div.autocomplete-icon {
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}


.swiper-navigation-icon {
  display: none !important;
}

/* Position from edges */


/* 12-11-25 */
.products {
  position: relative;
}

.swiper {
  position: static !important;
}

.reviews {
  position: relative;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 250px;
  font-size: 24px;
  font-weight: 700;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



* {
  box-sizing: border-box;
}


.title-wrapper {
  align-items: center;
}

.title-wrapper h2 {
  font-weight: 800;
}

input:disabled {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
  opacity: 1;
}


.container {
  width: 100%;
  padding: 0 93px;
  margin: 0 auto;
  max-width: initial;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 40px !important;
  }
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb {
  padding: 14px 0;
}

.breadcrumb-list a {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  padding: 0 7px;
  max-width: 550px;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb-list a:hover {
  text-decoration: underline;
}

.breadcrumb-list i {
  font-size: 12px;
}

.breadcrumb-list li {
  font-size: 14px;
  font-weight: 500;
}

.breadcrumb-list span {
  font-size: 14px;
}


/* form   */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
select,
input[type="password"],
input[type="date"],
input[type="tel"],
textarea {
  font-size: 16px !important;
  padding: 0 10px;
  border: 1px solid var(--lightgray);
  background-color: var(--white);
  height: 41px;
  width: 100%;
  box-shadow: none;
  border-radius: 5px !important;
  font-weight: 500 !important;
  line-height: 1.5;
  font-style: medium;
}

input::placeholder {
  color: var(--gray);
  font-weight: 500;
  font-style: medium;
}

input:focus-visible {
  outline: none;
}

textarea {
  height: 150px;
  padding: 10px;
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-right: 4px;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #B7BAB4;
  padding: 0;
  margin-top: -2px;
  accent-color: var(--primary);
  transform: scale(1);
}

select {
  width: 100%;
  height: 41px;
  padding: 0 35px 0 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--white);
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../../public/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 8px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* label {
  font-weight: 500 !important;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  color: #000000;
} */

.left-sidebar-style {
  font-weight: 500 !important;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  color: "rgba(0, 0, 0, 0.56) !important", ;
  cursor: pointer;
}

.form-fields {
  display: flex;
  column-gap: 20px;
}

.form-fields .form-item {
  flex: 1;
}

.form-item {
  margin-bottom: 20px;
}

.password-input {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 14px;
  top: 12px;
}

.form-item.form-item-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-item.form-item-radio label {
  margin-bottom: 0;
}

.form-fields .form-item.form-item-radio input[type="checkbox"] {
  margin-right: 0;
}

/* form   */


.bg-white {
  background-color: var(--white);
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  font-size: 16px;
  color: var(--primary);
  padding: 12.5px 20px;
  line-height: normal;
}

.btn-white {
  background: var(--white);
  border: 1px solid var(--primary);
}

.btn-white:hover {
  background: var(--primary);
  color: var(--white);
}

.title-wrapper .btn {
  height: 37px;
  padding: 8px 20px;
}

/* Filled Red */
.btn-filled.btn-red {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-filled.btn-red:hover {
  background-color: var(--primary);
}

/* Outline Red */
.btn-outline.btn-red {
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.btn-outline.btn-red:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 24px;
}

.btn-action .btn {
  flex: auto;
  white-space: nowrap;
}

/* Filled Blue */
.btn-filled.btn-blue {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.btn-filled.btn-blue:hover {
  background-color: var(--secondary)
}

/* Outline Blue */
.btn-outline.btn-blue {
  background: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.btn-outline.btn-blue:hover {
  background-color: var(--primary);
  color: var(--white);
}

.remove {
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-decoration: underline;
}

.promotion-tag,
.sale-tag {
  padding: 4px 5px;
  font-size: 16px;
}

.promotion-badge {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d10000;
  background-color: #fff5f5;
  border: 1px solid #ff4d4f;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 600;
}


.sale-tag {
  border-radius: 0;
}



/* product card */
.product-card-link {
  height: 100%;
  display: flex;
}

.product-card {
  width: 349px;
  height: 25rem;
  border-radius: 8px;
  background-color: var(--white);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--lightgray);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.products-slider {
  overflow: visible;
  padding-top: 13px;
}

.products-slider .swiper {
  overflow: initial !important;
}

.card-wrapper {
  position: relative;
  overflow: visible;
  width: 100%;
}

.badge {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: -13px;
  right: 15px;
  z-index: 10;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fd3d42;
  border: 1px solid #ff4d4f;
  padding: 4px 10px;
  border-radius: 20px;
}

.badge.low-stock-badge {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--white);
}

.promotion-badge.low-stock-badge {
  color: #b57d00;
  background-color: #fffdf5;
  border-color: var(--orange);
}

.product-card:hover {
  /* border: 1px solid var(--secondary); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.product-card .product-image {
  background: var(--white);
  width: 100%;
  height: 220px;
  display: block;
  position: relative;
  overflow: hidden;
}

.product-list .product-card .product-image {
  height: auto;
  width: auto;
}

.product-image img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.product-details .price {
  font-size: 20px;
}

.product-details .old-price {
  font-size: 18px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.bookingmodal .modal-content .action-btn {
  justify-content: center;
}

.products .swiper-slide {
  height: auto;
}

.product-details {
  padding: 14px;
}

.btn.filled-wishlist {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0;
}

.filled-wishlist img {
  filter: brightness(0) invert(1) !important;
}

.product-card .product-hover {
  position: absolute;
  right: -60px;
  bottom: 10px;
  transition: ease-in-out 0.5s;
}

.product-card:hover .product-hover {
  right: 5px;
  transition: ease-in-out 0.5s;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 6px;
  justify-content: space-between;
}


.tag {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 12px;
  font-weight: 600;
}

.product-title {
  color: var(--black);
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .product-price {
  margin: 6px 0;
} */

.price {
  color: var(--secondary) !important;
  font-weight: 600 !important;
  margin-right: 5px;
}

.old-price {
  color: var(--gray) !important;
  font-size: 13px;
  text-decoration: line-through;
  font-weight: 600 !important;
}

.rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.star {
  color: #fbc72e;
  font-size: 14px;
}

.review-count {
  font-size: 13px;
  color: var(--gray);
}

.in-stock {
  font-size: 12px !important;
  color: #16A249 !important;
  font-weight: 500;
}

.out-of-stock {
  color: var(--secondary);
  font-weight: 500;
}

.product-card .wishlist-btn {
  background: var(--primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 35px;
  min-width: 35px;
  height: 35px;
  padding: 8px;
  display: flex;
  cursor: pointer;
  border: none;
}

.product-card .wishlist-btn svg {
  stroke: var(--white);
}

.product-card .wishlist-btn.active {
  background: transparent;
  border: 1px solid var(--secondary);
}

.product-card .wishlist-btn.active svg {
  stroke: var(--secondary);
}

.product-card .wishlist-btn:hover {
  background: var(--secondary);
}

.product-card .wishlist-btn.active:hover svg {
  stroke: var(--white);
}


.new-pass-section {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-top: 20px;
}

.new-pass-section p {
  font-size: 14px !important;
}

.new-pass-section ul {
  margin-top: 10px;
  /* list-style-type: square; */
}

.new-pass-section li {
  color: #00000099;
  list-style: inside !important;
  font-size: 14px;

}

/* product card */


/* search results */
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: var(--white);
  border: 1px solid var(--WhiteSmoke);
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #d9d2d280;
}

.search-result-item img {
  margin-right: 1rem;
}

.search-result-item:hover {
  background-color: var(--WhiteSmoke);
}

.search-result-item p {
  margin: 0;
}


.reviews {
  position: relative;
}

.reviews .swiper-slide {
  height: auto !important;
}

.review-card {
  border-radius: 10px;
  background: var(--white);
  padding: 20px;
  width: 100%;
  transition: transform 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0000001C;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-manage-ment-section {
  font-weight: 600;
  color: #726969;
  font-size: 16px;
}

.stars {
  display: flex;
  gap: 3px;
}

.review-date {
  font-size: 14px;
  font-weight: 500;
}

.review-title {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0 7px 0;
}

.review-text {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.4;
  font-weight: 400;
}

.review-customer {
  font-weight: 600;
}

input[type="radio"] {
  accent-color: var(--primary);
  transform: scale(1.5);
}

/* review card */

/* banner  */
.banner-inner {
  background: url("/images/help.png");
  background-position: center !important;
  background-size: cover !important;
  padding: 32px 0;
  position: relative;
  min-height: 218px;
  display: flex;
  flex-direction: column;
}

.content-inner {
  position: relative;
  z-index: 2;
  max-width: 725px;
  margin: auto;
}


.products {
  position: relative;
}

.swiper {
  position: static !important;
}



.bg-card {
  background: var(--white);
  border: 1px solid var(--lightgray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 14px;
}

.bg-card.active {
  border: 1px solid var(--secondary);
}

.bg-card h6 {
  padding: 10px 0;
}

.bg-card p {
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}



@media screen and (min-width: 1440px) {
  .sidebar {
    width: 100% !important;
  }
}

.height-wfa {
  height: -webkit-fill-available !important;
}



.sidebar li {
  font-size: 14px;
  color: #707070;
  margin-bottom: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#loader {
  text-align: center;
  z-index: 101;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}

#loader .spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #d8d8d8;
  border-right-color: var(--secondary);
  animation: spinner-d3wgkg 1s infinite linear;
  text-align: center;
  margin: auto;
}

.loader-parent {
  position: relative;
}

.loader-parent:before {
  position: absolute;
  content: '';
  width: 100%;
  background: rgb(255 255 255 / 95%);
  left: 0;
  right: 0;
  height: 100%;
  z-index: 100;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}



.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}

.summary-row span {
  color: var(--gray);
  font-weight: 500;
}

.summary-row p {
  font-weight: 600;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 20px;
}

.total-row strong {
  font-weight: 600;
  font-size: 18px;
}

.total-row .price {
  font-size: 18px;
}

.savings {
  color: #16a249;
  font-weight: 500;
}

.payment-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.payment-img {
  background-color: var(--white);
  border: 2px solid #ededed;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  width: 40px;
}

/* popup */
#popupModal {
  position: fixed;
  display: flex;
  top: 65;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding: 0 70px;
}

#popupModal .modal-content {
  background: var(--white);
  border-radius: 8px;
  width: 100%;
  position: relative;
  overflow-y: auto;
  max-height: 755px;
  padding: 40px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-15-imp {
  width: 15% !important;
}

.w-85-imp {
  width: 85% !important;
}

/* popup */


@media screen and (max-width: 1400px) {
  .container {
    padding: 0 30px;
  }

}

@media screen and (max-width: 1199px) {
  .sidebar {
    width: 100% !important;
  }
}


.product-tabs ul {
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-tabs ul::-webkit-scrollbar {
  display: none;
}

.product-tabs li {
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .swipper-btn-left {
    left: -12px;
  }

  .swipper-btn-right {
    right: -12px;
  }

  .dflex.no-wrap {
    flex-direction: column;
  }


  input[type="text"] {
    font-size: 14px;
  }

  .product-image img {
    object-position: center;
  }


  /* Tab design */

  .tab-container {
    border-bottom: 1px solid #d9d2d2;
  }

  .sidebar {
    width: 100%;
    position: static;
  }

  .form-fields {
    display: block;
  }

  .breadcrumb-list a {
    max-width: 150px;
  }
}

@media screen and (max-width: 639px) {

  .product-card .product-image img {
    position: static;
  }
}

@media screen and (max-width: 480px) {

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  select,
  input[type="password"],
  input[type="date"],
  input[type="tel"],
  textarea {
    font-size: 13px !important;
  }

  .btn-white {
    text-align: center;
    cursor: pointer;
    color: var(--primary);
    border-radius: 100px;
    /* padding: 6px 10px; */
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
  }

  .product-card {
    width: 330px;
    height: 420px;
    border-radius: 8px;
    background-color: var(--white);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--lightgray);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .title-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .title-wrapper h2 {
    text-align: center;
    font-size: 20px;
  }

}

.brand-link-hover {
  transition: all 0.2s ease !important;
}

.brand-link-hover:hover {
  background-color: blue !important;
  color: white !important;
}

.rounded-15px-imp {
  border-radius: 15px !important;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

.gray-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #D3D3D3 transparent;
}

.gray-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.gray-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.gray-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D3D3D3;
  border-radius: 9999px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.list-wrapper {
  padding-left: 32px;
}

@media (min-width: 768px) {
  .list-wrapper {
    padding-left: 16px;
  }
}

@media (min-width: 768) and (max-width: 1500px) {
  .products-slider.custom-handmade .swiper-backface-hidden .swiper-slide {
    margin: 0 20px 0 0 !important;
    width: 349px !important;
  }
}

@media (min-width: 768px) and (max-width: 1500px) {
  .custom-shopCategory .swiper-backface-hidden .swiper-slide {
    width: 252px !important;
    margin: 0 15px;
  }
}

.product-carousel-slide {
  width: 100%;
}

@media (min-width: 640px) {
  .product-carousel-slide {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .product-carousel-slide {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .product-carousel-slide {
    width: 33.3333%;
  }
}

@media (min-width: 1300px) {
  .product-carousel-slide {
    width: 28.5714%;
  }
}

@media (min-width: 1500px) {
  .product-carousel-slide {
    width: 25%;
  }
}

@media (min-width: 1700px) {
  .product-carousel-slide {
    width: 20%;
  }
}

@media (min-width: 2000px) {
  .product-carousel-slide {
    width: 16.6666%;
  }
}


.handlePrev {
  @apply !absolute !left-0 top-1/2 -translate-y-1/2 !z-[999] flex items-center justify-center !w-10 !h-10 bg-white text-black rounded-full border border-gray-200 disabled:opacity-30 disabled:cursor-not-allowed translate-x-[-12px];
}

.handleNext {
  @apply !absolute !right-0 top-1/2 -translate-y-1/2 translate-x-1/2 !z-[999] flex items-center justify-center !w-10 !h-10 bg-white text-black rounded-full border border-gray-200 disabled:opacity-30 disabled:cursor-not-allowed;
}